<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body class="bg-light">
<span th:insert="navegador.html"></span>
<div class="container mt-4">
  <h1 class="mt-3">Portal del administrador</h1>
  <h1 th:insert="fragmento.html" class="mb-3"></h1>
  <a th:href="@{/admin/dashboard}" class="btn btn-info">Dashboard</a>
  <form th:action="@{/admin/usuario/editar}" method="get">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>NIF</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Tareas</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="usuario : ${listaUsuarios}">
        <tr>
          <td th:text="${usuario.getNif()}"></td>
          <td th:text="${usuario.getNombre()}"></td>
          <td th:text="${usuario.getApellidos()}"></td>
          <td>
              <ul>
                  <th:block th:each="tarea : ${usuario.getTareas()}">
                      <li>
                          <span th:switch="${tarea.getEstado()}">
                            <span th:case="1" th:text="${tarea.getNombre()} + ' - ' + ${tarea.getDescripcion()} + ' - Anulada'" th:style="'color:#D00000'"></span>
                            <span th:case="2" th:text="${tarea.getNombre()} + ' - ' + ${tarea.getDescripcion()} + ' - Pendiente'" th:style="'color:#FF5D00'"></span>
                            <span th:case="3" th:text="${tarea.getNombre()} + ' - ' + ${tarea.getDescripcion()} + ' - Completada'" th:style="'color:#0B5810'"></span>
                          </span>
                      </li>
                  </th:block>
              </ul>

          </td>
          <td>
            <button type="submit" class="btn btn-warning" name="nif" th:value="${usuario.getNif()}">Editar</button>
            <a th:href="@{/admin/usuario/eliminar(nif=${usuario.getNif()})}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </form>

  <p>
    <a th:href="@{/admin/usuario/nuevo}" class="btn btn-primary">Registrar un nuevo usuario</a>
  </p>

</div>

</body>
</html>