<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body class="bg-light">
  <span th:insert="navegador.html"></span>
  <!-- Contenedor principal con Bootstrap -->
  <div class="container mt-4">
    <h1>Dashboard</h1>
    <h1 th:insert="fragmento.html"></h1>
    <!-- Tabla con Bootstrap -->
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Metrica</th>
        <th scope="col">Valor</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Contador Tareas</td>
        <td th:text="${contadorTareas}"></td>
      </tr>
      <tr>
        <td>Tareas completadas</td>
        <td th:text="${tareasCompletadas}"></td>
      </tr>
      <tr>
        <td>Tareas pendientes</td>
        <td th:text="${tareasPendientes}"></td>
      </tr>
      <tr>
        <td>Tareas anuladas</td>
        <td th:text="${tareasAnuladas}"></td>
      </tr>
      <tr>
        <td>Promedio de tareas</td>
        <td th:text="${promedioTareas}"></td>
      </tr>
      </tbody>
    </table>
  </div>

</body>
</html>