<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Gestor de tareas: Registro de nuevo usuario</title>
</head>
<body class="bg-light">
<span th:insert= "navegador.html"></span>
<div class="container mt-4">
  <form th:action="@{/actualizar}" th:object="${usuario}" method="post" class="form">
    <fieldset>
      <legend>Edición de los datos del usuario: </legend>
      <table class="table table-bordered">
        <tr>
          <td><label>NIF: </label></td>
          <td><input type="text" readonly th:field="*{nif}" required class="form-control"/></td>
        </tr>
        <tr>
          <td><label>Nombre: </label></td>
          <td><input type="text" th:field="*{nombre}" required class="form-control"/></td>
        </tr>
        <tr>
          <td><label>Apellidos: </label></td>
          <td><input type="text" th:field="*{apellidos}" required class="form-control"/></td>
        </tr>
        <tr>
          <td><label>Contraseña: </label></td>
          <td><input type="password" th:field="*{pw}" required class="form-control"/></td>
        </tr>
        <tr>
          <td><label>Estado(1 = Activo, 0 = Inactivo): </label></td>
          <td><input type="number" th:field="*{activo}" required class="form-control"/></td>
        </tr>
        <tr>
          <td colspan="2">
            <button type="submit" class="btn btn-warning">Editar usuario</button>
            <!-- Mostrar el boton de tareas solo si es administrador -->
            <a th:if="${user}==11111111A" th:href="@{/admin/usuario/tareas/listado(nif=${usuario.getNif})}" class="btn btn-secondary ml-2">Tareas</a>
          </td>
        </tr>
      </table>
    </fieldset>
  </form>
</div>
</body>
</html>
