<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Web Gestión Tareas</title>
</head>
<body class="bg-light">
<span th:insert= "navegador.html"></span>
  <div class="container">
    <h1 class="mt-3">Gestión de Tareas</h1>
    <p>Bienvenido a nuestro sitio web de gestión de tareas. Aquí podrás crear, asignar y realizar un seguimiento de tus tareas pendientes, junto con tus compañeros de equipo.</p>
    <p>Para acceder a las funcionalidades de la aplicación, debes iniciar sesión.</p>
    <h2>Funciones principales</h2>
    <ul>
      <li>Crear nuevas tareas</li>
      <li>Gestionar tareas</li>
      <li>Establecer estado de las tareas</li>
      <li>Organizar tu vida</li>
    </ul>
  </div>
</body>
</html>
