<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body class="bg-light">
  <span th:insert= "navegador.html"></span>

  <div class="container mt-4">
    <h1 th:insert="fragmento.html"></h1>
    <form th:action="@{/guardar/tarea(nif=${usuario.nif})}" th:object="${tarea}" method="post">
      <fieldset>
        <legend>Registro de una nueva tarea: </legend>
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" id="nombre" th:field="*{nombre}" />
        </div>
        <div class="form-group">
          <label for="descripcion">Descripcion:</label>
          <input type="text" class="form-control" id="descripcion" th:field="*{descripcion}" />
        </div>
        <div class="form-group">
          <label for="estado">Estado (3 = Completada, 2 = Pendiente), 1 = Anulada:</label>
          <input type="number" class="form-control" id="estado" min="1" max="3" th:field="*{estado}" />
        </div>
        <button type="submit" class="btn btn-primary">Guardar nueva tarea</button>
      </fieldset>
    </form>
  </div>

</body>
</html>