<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Enlace a los archivos CSS de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

</head>
<body class="bg-light">
<span th:insert= "navegador.html"></span>
<div class="container py-5">
    <h1 class="display-4 mb-4 text-center">Portal de usuario</h1>

    <div class="list-group mb-4">
        <a th:href="@{/user/perfil}" class="list-group-item list-group-item-action">
            <h4 class="mb-0">Perfil del usuario</h4>
        </a>
        <a th:href="@{/user/tareas/listado}" class="list-group-item list-group-item-action">
            <h4 class="mb-0">Administrar mis tareas</h4>
        </a>
    </div>
</div>

<!-- Enlace a los archivos JavaScript de Bootstrap -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>