<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body class="bg-light">
<span th:insert= "navegador.html"></span>
<div class="container py-5">
    <h1 class="display-4 mb-4 text-center">Portal de usuario</h1>

    <div class="list-group mb-4">
        <a th:href="@{/user/perfil}" class="list-group-item list-group-item-action">
            <h4 class="mb-0">Perfil del usuario</h4>
        </a>
        <a th:href="@{/user/tareas/listado}" class="list-group-item list-group-item-action">
            <h4 class="mb-0">Administrar mis tareas</h4>
        </a>
    </div>
</div>

</body>
</html>